<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" 
		xmlns="http://java.sun.com/xml/ns/javaee" 
		
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xsi:schemaLocation="
				http://java.sun.com/xml/ns/javaee 
				http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd
		"
>

	<welcome-file-list>
		<welcome-file>index</welcome-file>
	</welcome-file-list>
	
	<!-- syntax isn't OK; 
			+ wa to define just default.
			So: @Page directives should ensure propper content-type/encoding anyway...
	<jsp-config>
		<jsp-property-group>
			<description>Forces UTF-8 encoding</description>
			<default-content-type><![CDATA[text/html; charset=UTF-8]]></default-content-type>
		</jsp-property-group>
	</jsp-config>
	-->

	<!--+
		!	Chargement de la configuration Spring
		!	
		!	@see http://stackoverflow.com/questions/6451377/loading-context-in-spring-using-web-xml
		+-->
	<context-param>
    	<param-name>contextConfigLocation</param-name>
    	<param-value>/WEB-INF/Spring-ApplicationContext.xml</param-value>
	</context-param>
	<listener>
	   <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	
	<!--+
		!	Struts !
		!
		+-->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/</url-pattern>
	</filter-mapping>	
	
	
	<!--+
		!	Tiles integration for Struts
		!
		+-->
	<context-param>
		<param-name>org.apache.tiles.impl.BasicTilesContainer.DEFINITIONS_CONFIG</param-name>
		<param-value>
			/WEB-INF/layouts/standard/layouts.xml,
			/WEB-INF/layouts/test/layout.xml,
			/WEB-INF/controllers/test/view.xml,
			/WEB-INF/controllers/hotels/views.xml,
			/WEB-INF/controllers/articles/views.xml
		</param-value><!--  -->
	</context-param>
	<listener>
		<listener-class>org.apache.struts2.tiles.StrutsTilesListener</listener-class>
	</listener>
	
	
</web-app>