<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!--+
      ! @see
      !		- http://stackoverflow.com/questions/3829597/how-to-make-hbm2ddl-schemaexport-to-log-schema-to-stdout?rq=1
      !		- http://stackoverflow.com/questions/5681218/slf4j-java-util-logging-how-to-configure
      ! 
      +-->

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <target>System.out</target>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  
  <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <target>System.err</target>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  
  
  <!-- ### log just the SQL ### -->
  <logger name="org.hibernate.SQL" level="DEBUG"/>

  <!-- ### log JDBC bind parameters ### -->
  <logger name="org.hibernate.type" level="TRACE"/>

  <!-- ### log schema generation ### -->
  <logger name="org.hibernate.tool.hbm2ddl" level="DEBUG"/>

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
  
</configuration>