<?xml version="1.0" encoding="UTF-8"?>
<persistence 
		version="1.0" 
		xmlns="http://java.sun.com/xml/ns/persistence" 
		
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xsi:schemaLocation="
				http://java.sun.com/xml/ns/persistence 
				http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd
		">
	<persistence-unit name="TestArticlePersistenceUnit" >
	    
		<!--+
			!	Articles module
			!
			+-->
		<class>com.cinepantin.shop.domain.VatRate</class>
		<class>com.cinepantin.shop.domain.Article</class>
		<class>com.cinepantin.shop.domain.Book</class>
		<class>com.cinepantin.shop.domain.Dvd</class>
		
		
		
		<!--+
			!	Users module
			!
			+-->
		<!-- Remember: Visitor is NOT persistent -->
		<class>com.cinepantin.shop.domain.User</class>
		<!-- 
		<class>com.cinepantin.shop.domain.Administrator</class>
		-->
		
		
		
		<!--+
			!	Addresses module
			!
			+-->
		<class>com.cinepantin.shop.domain.AddressFields</class>
		<class>com.cinepantin.shop.domain.RolodexAddressCid</class>
		<class>com.cinepantin.shop.domain.RolodexAddress</class>
		<class>com.cinepantin.shop.domain.OrderAddress</class>
		
		 
		
		<!--+
			!	Baskets module
			!
			+-->
		<!-- Remember: Basket is NOT persistent -->
		<!-- 
		<class>com.cinepantin.shop.domain.Basket</class>
		-->
		<class>com.cinepantin.shop.domain.UserBasket</class>
		<class>com.cinepantin.shop.domain.Order</class>
		
		
		
		
		
		
		
		<!-- disregard other classes (TODO: is this needed ?) -->
	    <exclude-unlisted-classes>true</exclude-unlisted-classes>
		
		<!--<provider>org.hibernate.ejb.HibernatePersistence</provider> 
		<non-jta-data-source>dataSource</non-jta-data-source> -->
		
		
		
	    <!-- 
	    <properties>	    	
            <property name="hibernate.current_session_context_class" 
            value="org.springframework.orm.hibernate3.SpringSessionContext" />
	    </properties>
	    -->
	</persistence-unit>
</persistence>